@import "~/src/css/mixins.scss";

.button {
  @include interactive-element;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-start {
    margin-right: 15px;
  }

  .icon-end {
    margin-left: 15px;
  }
  .content {
    position: relative;
  }

  &.fullwidth {
    width: -webkit-fill-available;
  }
  &.primary {
    @include themify("color", "primary");
    &:hover {
      @include themify("background-color", "primary-l");
    }
    span.ripple {
      @include themify("background-color", "primary-m");
    }

    &.contrast {
      color: rgba($contrast-text, 0.8);
      &:hover {
        color: $contrast-text;
      }
      span.ripple {
        background-color: $input-grey-bg;
      }
      &.disabled {
        cursor: not-allowed;
        color: rgba($contrast-text, 0.5);
        &:hover {
          color: rgba($contrast-text, 0.5);
        }
      }
    }

    &.contained {
      @include themify("background-color", "primary");
      color: #fff;
      &:hover {
        @include themify("background-color", "primary-d");
      }
      &.elevated {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      }
      span.ripple {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    &.outlined {
      border-width: 1px;
      border-style: solid;
      @include themify("border-color", "primary-m");
      &:hover {
        @include themify("border-color", "primary");
        @include themify("background-color", "primary-l");
      }
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}
